@model IEnumerable<TestTaskShops.Models.Shop>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Shops</h3>
    <table>
        <tr class="header">
            <td width="150"><p>Name</p></td>
            <td width="150"><p>Address</p></td>
            <td width="150"><p>Working hours</p></td>
            <td></td>
        </tr>
        @foreach (TestTaskShops.Models.Shop b in Model)
            {
            <tr>
                <td><p>@b.name</p></td>
                <td><p>@b.address</p></td>
                <td><p>@b.working_hours</p></td>
                <td>@Html.ActionLink("Goods", "Goodsofshop", new { s_name = b.name }, null )</td>

            </tr>
        }
    </table>
</div>